<h1><%= @student.to_s %></h1>
<div>
  <p>
  <%= "This student is currently #{ @student.active ? "active" : "inactive"}." %>
  <%#    <% if @student.active %> 
    <%#      <%= "This student is currently active." %>
    <%#    <% else %>
      <%#      <%= "This student is currently inactive." %>
      <%#    <% end %>
</p>
</div>

<div>
</div>
